@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


$bg-pink: #e9597e;
$bg-green: #33c555;
$bg-orange: #f49d00;