// Resets 
@import 'reset.scss';

// Global variables
@import 'variables';


body{
	font-family:arial;
}
/// start of wrapper
#main-wrapper{
	width: 100%;
	max-width:400px;
	height: 100%;
	max-height: 1000px;
	margin:0 auto;
	position:relative;
	#header{
		position: absolute;
		z-index: 9;
		left:0;
		top:0;
		width: 100%;
		height: 45px;
		background-color:#313b44;
		.arrow-down{
			border: 1px solid #fff;
			@include border-radius(50%); 
			float: right;
			width: 30px;
			height: 30px;
			margin: 6px 14px;
			position: relative;
			&:after{
				display: block;
				content: "";
				width: 9px;
				height: 1px;
				position: absolute;
				left: 7px;
				top: 16px;
				-webkit-transform: rotate(53deg);
				transform: rotate(47deg);
				background: #fff;
			}
			&:before{
				display: block;
				content: "";
				width: 9px;
				height: 1px;
				position: absolute;
				left: 14px;
				top: 16px;
				-webkit-transform: rotate(53deg);
				transform: rotate(135deg);
				background: #fff;
			}
		}
	}

	#content-area{
		position: relative;
		width: 100%;
		padding-top:45px;
		margin: auto;
		font-size:0;
		background:#e9eff1;
		.container{
			max-width:400px;		
		}
		.chatwheel{
			width: 100%;
			position: relative;
			padding: 15px 0;
			border-bottom: 2px solid #dde6ea;
			cursor: pointer;
			background:transparent;
			transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			&.active{
				background:#fff;
			}

			
			.chatwheel-img{
				position:relative;
				overflow: hidden;
				canvas{
					display: block;
					width: 100%;
					height: auto;
					@include border-radius(50%);
					background-size: auto 100%;
					background-repeat:no-repeat;
					background-position: center center;
				}

				&:after{
					display:none;
					content: "";
					width: 20px;
					height: 20px;
					border-radius: 50%;
					position: absolute;
					bottom: 5px;
					right: 16px;
					background: #33c555;
					border: 2px solid #ffffff;
				}

				&.chatonline{
					&:after{
						display:block
					}
				}

				&.chatpink{
					&:after{
						background:$bg-pink;
					}
				}
				&.chatorange{
					&:after{
						background:$bg-orange;
					}
				}
			}
			.chatwheel-content{
				h2{
					font-weight: bold;
					font-size: 16px;
					padding-bottom: 10px;
				}
				p{
					font-size:14px;
				}
			}
		}
	}
}

@media (max-width: 400px) {
	#main-wrapper #content-area .chatwheel .chatwheel-img:after{
		bottom: 20px;
		right: 65px;
	}
	.chatwheel-content {
		padding: 20px 0;
		text-align:center;
	}
}